{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2><a href="{% url 'book' book.slug %}">{{book.name}}</a></h2>
                <p>Автор: {{book.author}}</p>
                <p>Дата публикации: {{book.pub_date}}</p>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="book col-md-4">
                <h4>
                {% for date in next_lost_date %}
                <a href="http://127.0.0.1:8000/books/{{date}}/">{{date}}</a>
                {% endfor %}
                </h4>
            </div>
        </div>
    </div>

{% endblock %}